#지도박스{
    height:1200px;
}
.지도검색창{
    width:25%;
}

#주소검색창{
    width:250px;
    height:35px;
}

#검색버튼{
    background-color: white;
    margin: 0;
    padding: 0 ;
}


#modal{
    position:absolute;
}



.mapBox{
    width:100%;
    height: 110px;
    font-size:23px;
    border:1px solid #d3d3d3;
    display: grid;
    padding-top:20px;
}

.mapTest{
    padding:0 20px 0 20px;
}