
.containerBox2{
    width:800px;
    margin: 0 auto;
    margin-top: 100px;
    border-bottom: 3px solid lightgray;
}
.btnBox{
    width:550px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}

.btnBox button{
    width:200px;
    height: 250px;
    border:none;
    border-bottom: 3px solid lightgray;
    background-color: white;
}


.버튼기능설명{
    color:black;
    font-size:16px;

}
.버튼세부설명{
    color:#808080;
    font-size:9pt;
}

.버튼아래설명{
    width:550px;
    margin:0 auto;
    text-align: left;
    color:#333;
    font-size: 12pt;
}